.sideimage {
  background: url("./images/home.png");
  height: 100vh;
  background-position: 818px;
  background-size: contain;
  background-repeat: no-repeat;
}

.proty {
  padding: 50px;
}

.home {
  padding: 50px;
  padding-left: 25px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  padding-left: 60px;
}

.paragraph {
  padding-left: 60px;
  padding-bottom: 60px;
}

.forms {
  padding-left: 60px;
}

.continue-button {
  margin-left: 10px;
}

.signinLink {
  padding-left: 60px;
  padding-top: 175px;
  text-decoration: none;
}
